# Global Options
{

}

# Site specific options
{{ internal_domain }} {
	root * /home/ubuntu/problog-backend/current/public

	log {
		format transform `{request>headers>X-Forwarded-For>[0]:request>remote_ip} - {request>user_id} [{ts}] "{request>method} {request>uri} {request>proto}" {status} {size} "{request>headers>Referer>[0]}" "{request>headers>User-Agent>[0]}"` {
			time_format rfc3339
		}
		output file /home/ubuntu/problog-backend/shared/log/caddy.log
	}

	encode zstd gzip

	file_server

	# Equivalent to below:
	#
	#
	# location /cable {
	#     proxy_pass http://localhost:3334;
	#     proxy_http_version 1.1;
	#     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	#     proxy_set_header Host $http_host;
	#     proxy_set_header Upgrade $http_upgrade;
	#     proxy_set_header Connection "Upgrade";
	# }
	#

	@ws {
			header Connection *Upgrade*
			header Upgrade websocket
			path   /cable
	}
	reverse_proxy @ws {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:3334

	@notStatic {
		not file
	}
	reverse_proxy @notStatic unix//home/ubuntu/problog-backend/shared/tmp/sockets/puma.sock
}
app.problog88.com {
	redir https://{{ internal_domain }}{uri}
}