{{ internal_domain }} {
	root * /home/ubuntu/problog-backend/current/public

	encode zstd gzip

	file_server

	@notStatic { 
		not file
	}
	reverse_proxy @notStatic unix//home/ubuntu/problog-backend/shared/tmp/sockets/puma.sock
}
